{% extends 'homepage.html' %} {% block content %}
<style>


  tr{
      margin: 20px 20px;
      font-size: 20px;
  }

  td{

  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    font-style: italic;
  }
  button {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.news_heading 
{
    font-size: 5vw;
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
    color: blue;


    -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
        }

        /* for Firefox */
        @-moz-keyframes my-animation {
        from { -moz-transform: translateX(-100%); }
        to { -moz-transform: translateX(100%); }
        }

        /* for Chrome */
        @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(-100%); }
        to { -webkit-transform: translateX(100%); }
        }

        @keyframes my-animation {
        from {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        to {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        
}

.input_field 
{
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.button 
{
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

</style>
<h1 class="news_heading">...News....News...News......News....News...News......News....News...News...News....News...News......News....News...News......News....News...News...News....News...News......News....News...News......News....News...News...News....News...News......News....News...News......News....News...News......News....News...News......News....News...News...</h1>


<br/>

<center>

  <h2>Search News By Title</h2>
<form action="" method="POST">
  {% csrf_token %}
  <input type="text" name="news" class="input_field"/><br /><br />
  <button type="submit" class="button">Search</button>
</form>
<br/><br/><br/>
</center>




<marquee
  bgcolor="#16DCE2"
  width="100%"
  scrollamount="1"
  direction="up"
  height="350px"
>
  <table style="width: 100%">
    {% for i in data %}
    <tr>
      <td>{{i}}</td>
    </tr>
    {% endfor %}
  </table>
</marquee>

<form action="stock_game" method="POST">
  {% csrf_token %}
  <h1>Stock Prediction Game</h1>
  <button type="submit">Lets Play</button>
</form>
<form action="predict" method="POST">
  {% csrf_token %}
  <h1>Stock Prediction</h1>

  <button type="click">Stock Prediction</button>
</form>
{% endblock %}
