{% extends 'news.html' %} {% block content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>



<div class="jumbotron">
  <h1>GAME TIME!</h1>
  <p>Let's see your knowledge about stocks. Let's see the water level!</p>
</div>


<div class="jumbotron">
  <h1>RULES!</h1>
  <p>You need to Invest 100% of the amount</p>
  <p>A cumilative sum must not exceed the total amount present!</p>
  <p>Company's upcoming plan's are listed below , based on that you have to predict how to invest your 100M$</p>
</div>


<div class="list-group">
  <div class="list-group-item active">
    <h4 class="list-group-item-heading">Apple</h4>
    <p class="list-group-item-text">Apple's New Iphone 13 line launched in market</p>
    <p class="list-group-item-text">Europe makes USB-C Mandatory</p>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item active">
    <h4 class="list-group-item-heading">Facebook</h4>
    <p class="list-group-item-text">Facebook to change parent company name</p>
    <p class="list-group-item-text">Facebook under scrutiny over treatment of Content Mediator</p>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item active">
    <h4 class="list-group-item-heading">Google</h4>
    <p class="list-group-item-text">Google launched Pixel 6</p>
    <p class="list-group-item-text">Google ended free storage on Photos</p>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item active">
    <h4 class="list-group-item-heading">Amazon</h4>
    <p class="list-group-item-text">Amazon signed deal with Netflix</p>
    <p class="list-group-item-text">Amazon under fire to hire and fire</p>
  </div>
</div>




<h2>Total amount is 100 millon$</h2>
<form class="form-inline" action="calculation" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">%</div>
      <input type="number" name='apple' class="form-control" id="exampleInputAmount" placeholder="Apple">
      <div class="input-group-addon">.00</div>
    </div>

    <div class="input-group">
      <div class="input-group-addon">%</div>
      <input type="number" name='facebook' class="form-control" id="exampleInputAmount" placeholder="Facebook">
      <div class="input-group-addon">.00</div>
    </div>

    <div class="input-group">
      <div class="input-group-addon">%</div>
      <input type="number" name='amazon' class="form-control" id="exampleInputAmount" placeholder="Amazon">
      <div class="input-group-addon">.00</div>
    </div>

    <div class="input-group">
      <div class="input-group-addon">%</div>
      <input type="number" name='google' class="form-control" id="exampleInputAmount" placeholder="Google">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Transfer cash</button>

  {% comment %} Remaining Cash :
  <input type="number" name="leftover" min="0" max="100" /><br /><br />
  {% endcomment %}
</form>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}
